   # Case Study on Testing of Hypothesis

In [2]:
# import all required libraries

import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [3]:
# read the data

data = pd.read_csv(r'C:\Users\HP\Desktop\Python DSA\assignments\Sales_add.csv')
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

# A company started to invest in digital marketing as a new way of their product promotions. For that they collected data and decided to carry out a study on it.

● The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

In [4]:
# import stats

from scipy import stats

In [6]:
# by using paired t-test


t_sta,p_value = stats.ttest_rel(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])

In [7]:
p_value

6.336667004575778e-11

Ha = Increase in sales after stepping into digital marketing (Alternative Hypothesis)  

H0 = There is no increase in sales after stepping into digital marketing (Null Hypothesis)

In [8]:
if p_value<.05:
    print('Null Hypothesis Rejected')
else:
    print('Null Hypothesis Accepted')

Null Hypothesis Rejected

Here Null Hypothesis is Rejected.That means there is increase in sales after stepping into digital marketing . (Alternative Hypothesis is Accepted)

● The company needs to check whether there is any dependency between the features “Region” and “Manager”.

In [9]:
# import chi2_contingency

from scipy.stats import chi2_contingency

In [10]:
#create contigency table

contigency_table = pd.crosstab(data['Region'],data['Manager'])

In [11]:
contigency_table

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [12]:
chi2_contingency(contigency_table)

Chi2ContingencyResult(statistic=3.050566893424036, pvalue=0.5493991051158094, dof=4, expected_freq=array([[4.09090909, 3.18181818, 2.72727273],
       [2.86363636, 2.22727273, 1.90909091],
       [2.04545455, 1.59090909, 1.36363636]]))

In [13]:
chi2, p_value1, dof, exp = stats.chi2_contingency(contigency_table)

In [14]:
p_value1

0.5493991051158094

Ha = There is a dependency between the features “Region” and “Manager”. (Alternative Hypothesis) 

H0 = There is no dependency between the features “Region” and “Manager”. (Null Hypothesis)

In [15]:
if p_value1<.05:
    print('Null Hypothesis Rejected')
else:
    print('Null Hypothesis Accepted')

Null Hypothesis Accepted

Here Null Hypothesis is Accepted so there is no dependency between the features “Region” and “Manager”